{% extends "demo/base.html" %}

{%block content %}

					<!-- Banner -->
                    <section id="banner">
                        <header>
                            <h2>Bienvenidos a LIVE music</h2>
                            <p> Ingresa a tu cuenta y descubre las novedades que tenemos para ti</p>
                        </header>
                    </section>

        <div class="container"  style="margin-top: 2%; margin-left: 35%;" >
            <table>
                <form  method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" >Entrar</button>
                </form>
                
            </table>       
        </div>

<div id="idMensaje">
  {% if mensaje %}
  {{mensaje}}
  {%endif%}
</div>
   
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery.dropotron.min.js"></script>
    <script src="static/js/browser.min.js"></script>
    <script src="static/js/breakpoints.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/empresa.js"></script>
    <script src="static/js/script.js"></script>

{%endblock%}