<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %} 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>

    <style>
        .idMensaje{
            color: white;
        }
    
        body{
          background-color: black;
          color: white;
        }
        h1{
          color: white;
          font-size: 75px;
        }
      </style>
    
    <div style=" text-align: center;">
        <h2>Agregar Musica</h2><br>

        <div class="container" >
        
        <table class="table table-striped table-dark"> 
        <form action="{% url 'alumnosAdd' %}" method="POST">
            {% csrf_token %}

            <pre>Grupo/Cantante:     <input type="text" name="rut"  ></pre>
            <pre>Formato:             <input type="text" name="nombre"  ></pre>
 



            <input type="submit" name="opcion" value="Agregar">
        </form> <br><br>
    </table> 
        <a href="{% url 'crud' %}">Volver</a>
        <br>
        <div id="idMensajes">
            {% if mensaje %}
            {{mensaje}}
            {% endif %}
        </div>
    </div>

</body>
</html>